# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\ZZ_GIT\TEACH\lekce08_unit_testing_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
